{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" />
    <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% endblock %}
{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right sec-nav">
                    <li  class="">
                        <a href="http://www.cpjobs.com/hk">JOB SEEKER</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">FEATURES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#enquiry">ENQUIRY</a>
                    </li>
                    <li  class="active">
                        <a href="/login">LOGIN</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="bottom">
                    <div class="intro-lead-in">Know your talent</div>
                    <div class="intro-heading">Search and connect directly with candidates<br>whose experience and skill match your recruitment needs.</div>
                    <a href="/login" class="btn btn-primary btn-login">Login</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="section-heading">You can now access a talent pool of over <b>300,000</b> profiles on cpTalent</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4 feature">
                    <i class="fixibility"></i>
                    <b>Maximum Flexibility</b>
                    <p>No Credits, No Tokens, Unlimited Search</p>
                </div>
                <div class="col-sm-4 feature">
                    <i class="matching"></i>
                    <b>Candidate Matching</b>
                    <p>Saves Time by Candidates Matching directly to you</p>
                </div>
                <div class="col-sm-4 feature">
                    <i class="comparison"></i>
                    <b>Profile Comparison</b>
                    <p>Attributes comparison  amongst cadidates</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section id="match">
        <div class="container">
            <div class="wrapper">
                <i class="match-icon"></i>
                <h1>cpTalent automatically matches and recommends the right talents to your every job postings.</h1>
                <div class="device"><div class="screenshot1"></div></div>
            </div>
        </div>
    </section>
    <section id="search">
        <div class="container">
            <div class="wrapper">
                <i class="search-icon"></i>
                <h2>Our powerful search engine and database allows you to easily search and filter the right talent for you.</h2>
                <div class="device"><div class="screenshot2"></div></div>
            </div>
        </div>
    </section>
    <section id="analysis">
        <div class="container">
            <div class="wrapper">
                <i class="analysis-icon"></i>
                <h3>With our “Position Match Score”, you can easily check how well a candidate matches with your job.</h3>
                <div class="chart"></div>
            </div>
        </div>
    </section>
    <section id="compare">
        <div class="container">
            <div class="wrapper">
                <i class="compare-icon"></i>
                <h4>You can easily compare shortlisted candidates on <b>One</b> screen !</h4>
                <div class="device"><div class="screenshot3"></div></div>
            </div>
        </div>
    </section>
    <section id="manage">
        <div class="container">
            <div class="wrapper">
                <i class="manage-icon"></i>
                <h5>Through the "Candidates Manager", you can check and update the review of every bookmarked candidate.</h5>
                <div class="device"><div class="screenshot1"></div></div>
            </div>
        </div>
    </section>
    <section id="enquiry">
        <div class="container">
            <div class="text-center text-primary">Try our cpTalent now !</div>
            <p class="sub">For any enquires, our account manager is happy to assist you.</p>
            <form id="enquiry-form" action="#" >
                <div class="col-sm-8">
                    <p>Please tell us your contact information</p>
                    <div class="form-group">
                        <label class="control-label col-md-3">Contact Person <span class="required">*</span></label>
                        <div class="col-md-9"><input type="text" name="name" required="required" class="form-control"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Contact Telephone: <span class="required">*</span></label>
                        <div class="col-md-9"><input type="tel" name="tel" required="required" class="form-control"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Contact Email <span class="required">*</span></label>
                        <div class="col-md-9"><input type="text" name="email" required="required" class="form-control"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Company Name <span class="required">*</span></label>
                        <div class="col-md-9"><input type="text" name="company" required="required" class="form-control"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Company Industry</label>
                        <div class="col-md-9">
                            <select class="form-control" name="industry">
                                <option value="">- Select -</option>
                                {% for id,desc in industry %}
                                    <option value="{{desc}} (id:{{id}})">{{desc}}</option>
                                {% endfor%}
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Company Size</label>
                        <div class="col-md-9">
                            <select class="form-control" name="size">
                                <option value="">- Select -</option>
                                <option value="1-10">1-10 employees</option>
                                <option value="11-50">11-50 employees</option>
                                <option value="51-200">51-200 employees</option>
                                <option value="200+">200+ employees</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9"><input type="submit" class="btn btn-primary btn-login" value="Submit" id="submit-btn"/></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <b>Enquiry</b>
                    <p>Tel: +852 2680 8866 (M-F, 9am-6pm)</p>
                    <p>Email: info@cpjobs.com</p>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="copyright">Copyright © 2016. South China Morning Post Publishers Ltd. All rights reserved.</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline text-right">
                        <li><a href="http://www.cpjobs.com/hk/privacy-policy" target="_blank">Privacy Policy</a></li>
                        <li><a href="http://www.cpjobs.com/hk/about-us" target="_blank">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ asset('js/main.js')}}"></script>
    <script src="{{ asset('js/jquery.toaster.js') }}"></script>
    <script>
        $(document).ready(function (e) {
            $(document).scroll(function (e) {
                if ($(document).scrollTop() == 0) {
                    $(".navbar-default").removeClass("fixed")
                } else {
                    $(".navbar-default").addClass("fixed")
                }
            })
            $("#submit-btn").bind("click",function(e){
                $("#enquiry-form").find("input[required]").each(function(i){
                    if($.trim($(this).val())==''){
                        $(this).addClass("state-error");
                    }else{
                        $(this).removeClass("state-error");
                    }
                })
            })
            $("#enquiry-form").find("input[required]").bind("keyup",function(e){
                if($.trim($(this).val())!==''){
                        $(this).removeClass("state-error");
                    }
            })
            
            $("#enquiry-form").submit(function(e){
                var valid=true;
                $("#enquiry-form").find("input[required]").each(function(i){
                     if($.trim($(this).val())==''){
                         valid=false;
                         $(this).addClass("state-error");
                     }else{
                         $(this).removeClass("state-error");
                     }
                })
                if(valid && !isEmail($("input[name='email']").val())){
                     $.toaster({priority: 'danger', title: 'Notice', message: 'Please enter a valid Email address'});
                     $("input[name='email']").focus().addClass("state-error");
                     valid=false;
                }
                if(valid){
                    $("#submit-btn").loading();
                    $.ajax({
                        type: "POST",
                        url: "{{path('homepage')}}",
                        data:  $("#enquiry-form").serialize(),
                        success: function(msg){
                            var data=$.parseJSON(msg);
                            if(data.status=='success'){
                                alertMsg("Thanks for your informations, Our customer service team will contact you soon.");
                            }else if(data.error){
                                alertMsg(data.error);
                            }else{
                                alertMsg("Sorry, our server is currently down, please try again later.");
                            }
                            $("#submit-btn").removeClass("disabled").removeClass("loading");
                            $("#enquiry-form").find("input[type='text']").val("");
                            $("#enquiry-form").find("input[type='tel']").val("");
                             $("#enquiry-form").find("select").val("");
                        }
                     });
                 }
                return false;
            })
        })
    </script>
{% endblock %}
